/* ÐžÐ±Ñ‰Ð¸Ðµ ÑÑ‚Ð¸Ð»Ð¸ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img {
  pointer-events: none;
}

body {
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#141414 0% 50%, #6f1e07 100%);
  color: #ffffff;
}

select:active,
select:focus {
  outline: none
}

.b-none {
  display: none;
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.b-show {
  display: block;
  animation: showBlock 1s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.instructions {
  position: absolute;
  z-index: 990;
  width: 100%;
  /*height: 100vh; */
  top: 0;
  background: rgba(61, 61, 61, 0.8)
}

.block-content {
  margin-bottom: 10px;
}

.instructions-content {
  padding: 30px 20px 0 20px;
}

.block-content p {
  font-size: 15px;
  font-weight: 700;
}

/*Ð¨Ð°Ð¿ÐºÐ°*/

.header {
  height: 120px;

  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;

  border-bottom: 5px solid #fa5109;
  box-shadow: 0 0 15px #fa5109;
  margin-bottom: 100px;
}

.header-inner {
  position: absolute;
  text-align: left;
  top: 25px;
  right: 0;
  bottom: 0;
  left: 0;
}


.header-logo-text {
  font-family: 'DrukWideCyr-Bold', sans-serif;
  font-size: 1.5em;
  font-weight: 0;
  position: absolute;
  left: 4%;
  text-align: left;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}


.header-inner p {
  text-align: left;
}



.header-logo-img {
  background-image: url('../static/luckyjet/images/background.png');
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 7%;
  width: 80px;
  aspect-ratio: 1;
  vertical-align: center;
  margin-top: -8px;
}

/*ÐšÐ½Ð¾Ð¿ÐºÐ¸ Ð¼ÐµÐ½ÑŽ*/
.menu {
  position: absolute;
  right: 10%;
  bottom: 20px;
  left: 10%;
  background: #2a2228;
  border-radius: 20px;

  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  
  /* !!!! */
  display: none;
}

.menu-button-inner {
  position: relative;
  width: 260px;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 120px;
  height: 75px;

  background: none;
  border: none;

  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;

  cursor: pointer;
  z-index: 1;
}

.menu-button img {
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
}

.menu-button-active {
  background: #1B1B1A;
  border-radius: 20px;
  width: 90px;
  height: 71px;
  position: absolute;
  z-index: 0;
}

.menu-button-position {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Ð’Ñ‹Ð±Ð¾Ñ€ Ð¸Ð³Ñ€Ñ‹*/

.choose div{
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
  width: 80vw;
}

.choose p {
  margin-top: 10vh;
  font-size: 1.8em;
  font-weight: 450;
  text-align: center;
  margin-bottom: 20px;
}

.choose-card {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 40vh;
  padding: 0px;

  background: #2F2F2E;
  border: 2px solid white;
  border-radius: 20px;
}

.choose-button {
  border: none;
  background: none;
  cursor: pointer;
  width: 60vw;
  height: 70vh;
  border-radius: 10%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.choose {
  position: absolute;
  top: 90px;
}

.choose-button:not(:first-child) {
  margin-top: 15px;
}

/*info*/
.info-inner {
  display: flex;
  flex-direction: column;

  background: #2F2F2E;
  border-radius: 20px;
}

.info-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 900;
}

.info-text {
  font-size: 11px;
  width: 300px;
  margin-bottom: 25px;
  font-weight: 700;
  padding: 10px;
}

/*channel*/

.channel-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.channel-title {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 15px;
}

.channel-button {
  position: relative;
  width: 270px;
  height: 52px;
  background: #29B6F6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
}

.luckyjet {
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.luckyjet-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
}

.luckyjet-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  background-image: url("../../static/luckyjet/images/i.webp");
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.luckyjet-logo-game {
  margin: 5px;
  width: 210px;
  z-index: 1;
}

.luckyjet-button-back {
  position: absolute;
  top: 30px;
  left: 20px;
  cursor: pointer;
  z-index: 500;
}

.luckyjet-button-back button {
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 20%;
  position: relative;
  background: #BA60FD;
}

.luckyjet-button-back button img {
  display: flex;
  margin: 0 auto;
}

.luckyjet-pers-animate {
  position: absolute;
  left: -205px;
  top: 138px;
  z-index: 0;
  width: 200px;
  animation: cowmove 10s infinite;
}

@keyframes cowmove {
  0% {
    transform: translateX(0px) rotateY(0deg);
  }

  49% {
    transform: translateX(200px) translateY(-25px) rotateY(0deg);
  }

  50% {
    transform: translateX(200px) translateY(-25px) rotateY(0deg);
  }

  100% {
    transform: translateX(0px) rotateY(0deg);
  }
}


.luckyjet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 290px;
}

.luckyjet-error-notification {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -25px;
  clip-path: inset(0px round 10px 10px);
  transition: all .2s;
  transform: translateY(-99px);
  z-index: 999;
}

.luckyjet-error-background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 50px;
  background: #FFEBEB;
  border-radius: 10px;
  margin-bottom: -52px;
}

.luckyjet-icon-error {
  z-index: 2;
}

.luckyjet-error-exit {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 2;
  cursor: pointer;
  background: #FFC2C2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.luckyjet-text-error {
  color: #000000;
  font-size: 12px;
  font-weight: 900;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 45px;
}

.luckyjet-error-progress {
  width: 287px;
  height: 3px;
  background: linear-gradient(90deg, #E00000 0%, #E00000 100%) left /0% 100% no-repeat #D9D9D9;
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
}

@keyframes animateErrorProgress {
  100% {
    background-size: 100% 100%;
  }
}

.luckyjet-top-content {
  position: absolute;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.luckyjet-name-bot {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  text-shadow: black 0 0 30px, black 0 0 30px, black 0 0 30px;
}

.luckyjet-print-signal {
  position: absolute;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 217px;
  height: 217px;
  background-color: #34004c;
  border: 4px solid white;
  border-radius: 50%;
  font-size: 3.2em;
  font-weight: 500;
  transition: all .5s;
  z-index: 10;
}

.luckyjet-print-signal span {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}


.luckyjet-stop-signal-time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 25px auto;
  width: 230px;
  transition: all .5s;
}

.luckyjet-stop-timer {
  font-size: 20px;
  font-weight: 900;
  height: 35px;
}

.luckyjet-stop-progress {
  width: 230px;
  height: 18px;
  background: linear-gradient(90deg, #BA60FD 0%, #218288 100%) left /0% 100% no-repeat #D9D9D9;
  border-radius: 15px;
}

@keyframes animateProgress {
  100% {
    background-size: 100% 100%;
  }
}

.luckyjet-button-content {
  position: absolute;
  top: 100px;
}

.luckyjet-button-game {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 220px;
}

.luckyjet-get-signal, .luckyjet-get-signal-two {
  /* box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); */
  border-radius: 30px;
  font-weight: 900;
  font-size: 24px;
  background-color: #a54ad5;
  color: white;
  text-shadow: white 0 0 30px;
  padding: 5px 0px;
}


.luckyjet-get-signal {
  position: relative;
  border: none;
  cursor: pointer;
  transition: all .2s;
  min-height: 65px;
  z-index: 0;
}

.luckyjet-get-signal-two {
  position: absolute;
  /* height: 65px; */
  width: 220px;
  border: none;
  cursor: pointer;
  z-index: -1;
  transition: all .2s;
  opacity: 0.85;
}

/* .luckyjet-get-signal {
  position: relative;
  height: 56px;
  border: none;
  background: linear-gradient(90deg, #BA60FD 0%, #218288 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  transition: all .2s;
  z-index: 0;
}

.luckyjet-get-signal-two {
  position: absolute;
  width: 220px;
  height: 56px;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  background: linear-gradient(90deg, #BA60FD 0%, #218288 100%);
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  z-index: -1;
  transition: all .2s;
} */

.luckyjet-game-here {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 160px;
  padding: 10px 15px;
  background: white;
  font-size: 22px;
  /* box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05); */
  border-radius: 30px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: all .2s;
  z-index: 4;
}

.luckyjet-get-signal::before,
.luckyjet-get-signal-two::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -1;
  background: linear-gradient(90deg, #b24dff 1%, rgb(106, 10, 93) 100%);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  opacity: 0.6;
  filter: blur(15px);
  border-radius: 30px;
}

.luckyjet-game-here::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -1;
  background: linear-gradient(90deg, white 0%, white 80%);
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); */
  filter: blur(5px);
  border-radius: 30px;
}

.luckyjet-get-signal:active,
.luckyjet-game-here:active,
.luckyjet-get-signal-two:active {
  transform: scale(95%);
}

.luckyjet-deactivate {
  opacity: 0;
}